.nav_bar {
    border-bottom: 1px solid green;
}

.nav_bar a {
    font-size: 24px;
    text-decoration: none;
}

#title_name {
    font-size: 3.5rem;
    font-family: monospace;
   
}

.homepage_project_image {
    max-width: 200px;
}
.project_card_name  {
    text-align: webkit-auto;
}

.project_card_about {
    text-align: webkit-auto;
}

.project_page_description {
    margin-top: 1%;
}